.RESERVETICKETS, .checkout {
    background: white;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.008em;
}
.header-blue-bg {
    background: #026CDF;
    height: 8px;
    width: 100%;
}
.header > p {
    letter-spacing: 0.015em;
}
.header > p:nth-child(2) {
    font-weight: 600;
    font-size: 18px;
    margin: 10px 10px;
}
.header > p:nth-child(3) {
    margin: -10px 15px 0;
    font-size: 14px;
    font-weight: 350;
    transform: translate(0, -8px);
}
.header {
    background: #131313;
    color: white;
    padding: 0 0 16px;
}
.top-nav > div:nth-child(1) {
    display: flex;
    gap: 8px;
}
.top-nav > div:nth-child(1) {
    font-weight: 500;
    font-size: 16px;
    transform: translateY(-2px);
}
.top-nav {
    width: 95%;
    margin: 15px auto;
    padding: 0 5px;
}
.top-nav > p:nth-child(2) {
    margin: 5px 0 6px 0;
    font-weight: 390;
    font-size: 15.8px;
}
.dot-icon {
    color: gray;
}
.top-nav > p:nth-child(3) {
    font-weight: 280;
    color: rgb(0,0,0,.7);
    font-size: 13.2px;
    width: 22.5rem;
    line-height: 18.5px;
}
.top-nav > p:nth-child(4) {
    color: #026CDF;
    font-weight: 400;
    font-size: 14px;
    margin: -8px 0 17px;
}
.top-nav hr {
    border: .7px solid rgb(0,0,0,.15);
}
.second-nav {
    display: flex;
    justify-content: space-between;
    margin: 14px 0 14.3px;
}
.second-nav > div:nth-child(1) {
    display: grid;
    gap: 5px;
}
.second-nav > div:nth-child(1) p:nth-child(2) {
    font-weight: 400;
    margin-top: -2px;
    font-size: 15.5px;
}
.second-nav > div:nth-child(1) p:nth-child(3) {
    font-weight: 160;
    font-size: 13px;
    color: rgb(0,0,0,.8);
}
.second-nav > div:nth-child(1) p:nth-child(1) {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.01em;
}
.second-nav > div:nth-child(2) {
    display: flex;
    gap: 15px;
    align-items: center;
    height: 3rem;
} 
.second-nav > div:nth-child(2) div{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: #026CDF;
    font-size: 30px;
    color: white;
}
.second-nav > div:nth-child(2) div:nth-child(1) {
    background-color: rgb(128, 128, 128, .9);
}
.description {
    margin: 17px 0 1px;
    font-weight: 500;
}
.description + p {
    color: rgb(0,0,0,.9);
    font-weight: 300;
    margin-bottom: 13px;
    font-size: 15px;
}
.bottomNav > div:nth-child(1) {
    height: 4px;
    width: 2rem;
    background: #131313;
    margin-bottom: 2px;
}
.bottomNav div {
    transition: all 1s ease-in-out;
}
.bottomNav {
    padding: 15px 25px 80px;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid rgb(0,0,0,.3);
    transition: all 1s ease-out;
    background-color: white;
}
.bottomNav > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}
.bottomNav > div:nth-child(2) > div:nth-child(1) {
   display: grid;
   gap: .4rem; 
   margin-top: 5px;
}
.bottomNav > div:nth-child(2) > div:nth-child(1) p:nth-child(1) {
    font-weight: 530;
    font-size: 18px;
    margin-bottom: -7px;
}
.bottomNav > div:nth-child(2) > div:nth-child(1) p:nth-child(2) {
    font-weight: 500;
} 
.bottomNav > div:nth-child(2) > div:nth-child(2) p:nth-child(1) {
    font-weight: 600;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    gap: 8px;
    transform: translateY(8px);
}
.bottomNav > div:nth-child(3) > div {
    display: flex;
    justify-content: space-between;
    color: rgb(0,0,0,.7);
    font-weight: 300;
    font-size: 15px;
}
.bottomNav > div:nth-child(3) {
    margin-top: 2rem;
    transition: all 1s ease-out;
}
.RESERVETICKETS button {
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 5%;
    height: 3rem;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #3B8656;
    letter-spacing: 0.04em;
}
.Loading_Screen_Reserve {
    position: fixed;
    top: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background: rgb(0,0,0,.75);
}
.Loading_Screen_Reserve > div {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 5rem;
    font-size: 14.5px;
}
.check-header {
    width: 100%;
    position: relative;
    background-color: #131313;
}
.check-header img{
    width: 100%;
}
.time-countdown {
    color: white;
    background-color: red;
    text-align: right;
    margin-top: -5rem;
}
.first_loading {
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    display: grid;
    place-items: center;
}
.first-load-div > div:nth-child(1) {
    border: 4px solid rgba(2, 65, 223, 0.236);
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: relative;
    animation: spin 1s linear infinite;
}
.first-load-div > div:nth-child(1)::after {
    content: "";
    position: absolute;
    inset: -3.5px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #022edff0;
}
.first-load-div {
    display: grid;
    place-items: center;
    gap: 17px;
}
.first-load-div p {
    font-weight: 500;
    font-size: 15px;
    -webkit-text-stroke: 0.025em;
    letter-spacing: 0.02em;
    
}